<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Book List</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1>Book List</h1>
<h2>
    <a href="/book/add">Add new book</a>
</h2>
<br/>
<br/>
<div class="container">
    <table class ="container" border="1">
        <tr>
            <th><h1>Title</h1></th>
            <th><h1>Author</h1></th>
            <th><h1>Edit</h1></th>
            <th><h1>Delete</h1></th>
        </tr>
        <tr th:each ="book : ${books}" th:data-id="${book.id}">
            <td class="title" th:utext="${book.title}"/>
            <td class="author" th:utext="${book.author}"/>
            <td>
                <form th:method="GET" th:action="@{/book/edit}">
                    <input type="hidden" name="id" th:value="${book.id}">
                    <button type="submit">
                        Edit
                    </button>
                </form>
            </td>
            <td>
                <form th:method="POST" th:action="@{/book/delete}">
                    <input type="hidden" name="id" th:value="${book.id}">
                    <button type="submit">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
